:root{
    --green:#27ae60;
    --black:#333;
    --white:#fff;
    --bg-color:#eee;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.1rem solid var(--black);
  }

  *{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
  }

  .btn{
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: .5rem;
    margin-top: 1rem;
    font-size: 1.7rem;
    padding:1rem 3rem;
    background:linear-gradient(to right,#ff105f,#ffad06);
    color:var(--white);
    text-align: center;
  }
  
  .btn:hover{
    background: var(--black);
  }

.admin-product-form-container.centered
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    
}
  
  .admin-product-form-container form{
    max-width: 40rem;
    margin:0 auto;
    margin-bottom: 5%;
    padding:2rem;
    border-radius: .5rem;
    background: var(--bg-color);
  }
  
  .admin-product-form-container form h3{
    text-transform: uppercase;
    color:var(--black);
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.5rem;
  }
  
  .admin-product-form-container form .box{
    width: 100%;
    border-radius: .3rem;
    padding:1.0rem 1.2rem;
    font-size: 1.7rem;
    margin:1rem 0;
    background: var(--white);
    text-transform: none;
  }

@media(max-width:700px)
  {
      .col-2 
      {
          font-size: 10px;
      }
  
      .testimonies1
      {
          margin-bottom: 5%;
      }
  
      .col-3
      {
          margin-bottom: 5%;
      }
  
      .nav-links ul li
      {
         display:block;
         margin-bottom:10px;
         margin-top: 5px;
      }
  
      .nav-links
      {
          position:absolute;
          background:#f44336;
          height:100vh;
          width:200px;
          top:0;
          right:-200px;
          text-align:center;
          z-index:2;
          transition: 1s;
      }
  
      .icon
      {
          background: #f44336;;
      }
  
      .btn2
      {
          background:#f44336;;
      }
  
      .menu-icon
      {
          display:block;
          color:#fff;
          margin:10px;
          font-size:15px;
          cursor:pointer;
      }
  }