body
{
    font-family: "Verdana";
    color:#471C47;
    font-size: 9pt;
    background-image:url("Pele.jpg");
    background-repeat: no-repeat;
    background-position: left top;
}

.container
{
    position:absolute;
    left:300px;
}

.image
{
    height: 200px;
    width:100px;
}

h3
{
    text-decoration: underline;
}

p
{
   letter-spacing: 2px;
   text-indent: 20px;
}

.small-container1
{
    border: dashed;
    border-width: 2px;
    border-color: #471C47;
    background-color: #D7EAA3;
    padding:1em;
    width:27em;
}

.small-container2
{
    border-top: solid 3px;
    border-color: #A690AF;
}