.table
{
        width: 100%;
        text-align: center;
}

.table1 thead
{
    background: lightblue;
}

.table th
{
    padding:1rem;
    font-size: 2rem;
}

.table td
{
    padding:1rem;
    font-size: 2rem;
    border-bottom:1rem solid black;
}