*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*-----------Navigation-------*/

.navbar {
    font-size: 120%;
    width: 95%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}
nav ul li a
{
    width:180px;
    height:60px;
    text-decoration: none;
    color: rgb(78, 76, 76);
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #6a6969;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

a
{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.small-img-group
{
    display:flex;
    justify-content: space-between;
}

.small-img-col
{
    flex-basis:24%;
    cursor:pointer;
}
.sproduct select
{
    display:block;
    padding:5px 10px;
}
.sproduct input
{
    width:50px;
    height:40px;
    padding-left:10px;
    font-size:16px;
    margin-right:10px;
}
.sproduct input:focus
{
    outline:none;
}
.buy-btn
{
    background:linear-gradient(to right,#ff105f,#ffad06);
    opacity:1;
    transition:0.3s all;
}
.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.btn {
    display: inline-block;
    background:linear-gradient(to right,#ff105f,#ffad06);
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #563434;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}
.header .row {
    margin-top: 70px;
}


.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 p {
    color: rgba(110, 108, 108, 0.7);
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 10px auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.col-4:hover {
    transform: translateY(-5px);
}


/*--------------single product details-------*/
.single-product
{
    margin-top:80px;
}
.single-product .col-2 img
{
   padding:0;
}
.single-product .col-2
{
    padding: 0px;
}
.single-product h4
{
    margin:20px;
    font-size:22px;
    font-weight:bold;
}
.single-product select
{
    display:block;
    padding:10px;
    margin-top:20px;
    border:1px solid #ff523b;
}
.single-product input
{
    width:50px;
    height:40px;
    padding-left:10px;
    font-size:20px;
    margin-right:10px;
    border:1px solid #ff523b;
}
input:focus
{
    outline:none;
}
.small-img-row
{
    display:flex;
    justify-content:space-between;
}
.small-img-col
{
    flex-basis:24%;
    cursor:pointer;
}

/*---------footer--------*/

.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

.footer-col-3 h3 {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}